# Virtual environments
.venv/
.venv-1/

# Python cache
__pycache__/
project/__pycache__/
*.pyc

# Environment variables / API keys
.env

# Database
student_rec_data.db

# Jupyter
.ipynb_checkpoints/

# Mac files
.DS_Store